<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie Rental Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PhosphorIcon/phosphor-icons.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- html2canvas library -->
    <script src="~/Scripts/jspdf.umd.min.js"></script>

    <!-- jsPDF library -->
    <script src="~/Scripts/html2canvas.min.js"></script>
    <script src="~/Scripts/jspdf-html2canvas.min.js"></script>

    <!--kendo-->
    @*<link href="~/Scripts/Kendo/styles/default-main.css" rel="stylesheet" />
    <script src="~/Scripts/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/Kendo/kendo-ui-license.js"></script>*@

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @Html.Partial("_Notification")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)
</body>
</html>
