@{
    ViewBag.Title = "Dashboard";
    var username = User.Identity.Name;
    int customersCount = ViewBag.CustomersCount ?? 0;
    int moviesCount = ViewBag.MoviesCount ?? 0;
    int rentalsCount = ViewBag.RentalsCount ?? 0;
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome @username!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("CanManageMovies"))
        {
            <p class="lead">This is your Movie Rental Admin Dashboard.</p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("New", "Rentals")">Add New Rental</a>
        }
    }
    else
    {
        <p class="lead">Please, login to get access to the application.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Register", "Account")">Create an account</a>
    }
</div>

@if (User.IsInRole("CanManageMovies"))
{
    <div class="row justify-content-center" style="max-width: 900px; margin: auto; gap: 5px; display: flex; flex-wrap: wrap; margin-top:-15px;">
        <div class="custom-box p-4 text-center">
            <h3>@customersCount</h3>
            <p>Customers</p>
            <i class="fas fa-users fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Customer")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="custom-box p-4 text-center">
            <h3>@moviesCount</h3>
            <p>Movies</p>
            <i class="fas fa-film fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Movies")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="custom-box p-4 text-center">
            <h3>@rentalsCount</h3>
            <p>New Rentals</p>
            <i class="fas fa-shopping-cart fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Rentals")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="row justify-content-center mt-2" style="max-width: 900px; margin: auto; gap: 5px; display: flex; flex-wrap: wrap; margin-top: 12px;">
        <div class="custom-box p-4 text-center w-100">
            <h4>Top 3 Customers</h4>
            <table class="table table-bordered table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer Name</th>
                        <th>Total Rentals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in (List<Prabesh.Dtos.TopCustomerDto>)ViewBag.TopCustomers)
                    {
                        <tr>
                            <td>@c.CustomerName</td>
                            <td>@c.TotalRentals</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="custom-box p-4 text-center w-100">
            <h4>Top 3 Movie</h4>
            <table class="table table-bordered table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Movie Name</th>
                        <th>Total Rentals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in (List<Prabesh.Dtos.TopMovie>)ViewBag.TopMovies)
                    {
                        <tr>
                            <td>@c.MovieName</td>
                            <td>@c.total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="custom-box p-4 text-center w-100">
            <h4>Last 2 Rentals</h4>
            <table class="table table-bordered table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer Name</th>
                        <th>Date Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in (List<Prabesh.Dtos.TopRentals>)ViewBag.TopRentals)
                    {
                        <tr>
                            <td>@c.CustomerName</td>
                            <td>@c.DateRented</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}
