@{
    ViewBag.Title = "Dashboard";
    var username = User.Identity.Name;
    int customersCount = ViewBag.CustomersCount ?? 0;
    int moviesCount = ViewBag.MoviesCount ?? 0;
    int rentalsCount = ViewBag.RentalsCount ?? 0;
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome, @username!</h1>
    <p class="lead">This is your Movie Rental Admin Dashboard.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("New", "Rentals")">Add New Rental</a>
</div>

@if (User.IsInRole("CanManageMovies"))
{
    <div class="row justify-content-center" style="max-width:900px; margin:auto; gap:5px; display:flex; flex-wrap:wrap;">
        <div class="custom-box p-4 text-center">
            <h3>@customersCount</h3>
            <p>Customers</p>
            <i class="fas fa-users fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Customer")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="custom-box p-4 text-center">
            <h3>@moviesCount</h3>
            <p>Movies</p>
            <i class="fas fa-film fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Movies")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="custom-box p-4 text-center">
            <h3>@rentalsCount</h3>
            <p>New Rentals</p>
            <i class="fas fa-shopping-cart fa-lg mb-2"></i><br />
            <a href="@Url.Action("Index", "Rentals")" class="btn btn-link p-0">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}
